*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    color: crimson;
    margin-top: 2rem;
}

main{
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

img{
    float: left;
    width: 200px;
}

.cards{
    width: calc((100% / 3) - 20px);
    margin-top: 2%;
    background-color: black;
    float: left;
    margin: 0 10px;
    margin-bottom: 10px;
}

.nome{
    font-weight: bold;
}

.email{
    color: aqua;
}

section::after{
    content:"";
    display: block;
    clear: both;
}

.nome{
    color: antiquewhite;
}

.ruolo{
    color: antiquewhite;
}